/* RESET UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--secundarioLuz1);
}

button,
input {
    font-family: inherit;
}

/*COLORES Y VARIABLES DE DISEÑO*/
:root {
    --primario: #FFB8F5;
    --secundario: #061127;
    --acento: #823DE3;
    --textoBlack: #000000;
    --textoWhite: #FFFFFF;
    --primarioSombra1: #CC93C4;
    --primarioSombra2: #996E93;
    --primarioLuz2: #FFD4F9;
    --secundarioSombra1: #050E1F;
    --secundarioLuz1: #0B1936;
    --secundarioLuz2: #6A707D;
    --acentoSombra1: #6831B6;

    /* FUENTES (Tamaños Base Mobile) */
    --fs-h1: 24px;
    --lh-h1: 32px;
    --fs-h2: 20px;
    --lh-h2: 28px;
    --fs-h3: 18px;
    --lh-h3: 24px;
    --fs-h4: 16px;
    --lh-h4: 22px;
}

/*FUENTES*/
h1,
.h1 {
    font-weight: bold;
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    letter-spacing: -0.5px;
}

h2,
.h2 {
    font-weight: 500;
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    letter-spacing: -0.2px;
}

h3,
.h3 {
    font-weight: bold;
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    letter-spacing: 0;
}

h4,
.h4 {
    font-weight: 600;
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
    letter-spacing: 0;
}

.body-base {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.body-small {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

.label {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
}

/* ================== */
/* ESTRUCTURA GENERAL */
/* ================== */
main {
    display: flex;
    flex-direction: column;
    gap: 77px;
    /* 11px (a los puntos) + 12px (altura puntos) + 54px (hacia prox sección) */
}

/* ================== */
/*      HEADER      */
/* ================== */

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secundarioSombra1);
    padding: 0 16px;
    position: relative;
    /* Necesario para poder centrar cosas absolutamente adentro */
}

/* Necesario para poder centrar cosas absolutamente adentro */

/* Boton Hamburguesa */
.btn-hamburguesa {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.btn-hamburguesa svg {
    fill: var(--primario);
    width: 1.8rem;
    /* Más chica en celular */
    height: auto;
}

.btn-hamburguesa:hover svg {
    fill: var(--primarioSombra2);
    stroke: var(--primarioLuz2);
    stroke-width: 2px;
}

.header-izq {
    display: flex;
    align-items: center;
    gap: 22px;
    /* Separación entre botón hamburguesa y el logo */
}

/* ================== */
/*      LOGO     */
/* ================== */
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    position: absolute;
    /* Lo despegamos de la izquierda */
    left: 50%;
    /* Lo mandamos al medio */
    transform: translateX(-50%);
    /* Lo centramos perfectamente */
}

.logo-icono {
    display: none;
    /* Ocultamos el icono (la navecita) en celular */
}

.logo-texto {
    display: block;
    height: 18px;
    /* Achicamos el texto del logo en celular */
    width: auto;
}

/* ================== */
/* BUSCADOR          */
/* ================== */
.buscador {
    width: 334px;
    height: 36px;
    background-color: var(--secundarioLuz2);
    border-radius: 50px;
    display: none;
    align-items: center;
    padding: 0 15px;
    margin-left: 67px;
    justify-content: space-between;
}

.buscador input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--textoWhite);
    width: 100%;
}

.buscador input::placeholder {
    color: var(--textoWhite);
}

.icono-lupa {
    width: 14px;
    height: 14px;
}

.icono-lupa path {
    fill: var(--textoWhite);
}

/* ================== */
/* HEADER DERECHO    */
/* ================== */
.header-der {
    display: flex;
    align-items: center;
    gap: 16px;
    /* Separación entre los botones de la derecha */
}

/* OBTENER PRO*/
.btn-pro {
    width: 128px;
    height: 37px;
    background-color: var(--acento);
    border-radius: 16px;
    border: 2px solid transparent;
    box-sizing: border-box;
    color: var(--textoWhite);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all 0.3s ease;
}

.btn-pro:hover {
    background-color: var(--acentoSombra1);
    border-color: var(--primarioLuz2);
}

/* FAVORITOS    */

.btn-favoritos {
    width: 69px;
    height: 66px;
    background-color: var(--secundarioLuz1);
    border-radius: 50%;
    /* Esto crea la forma circular/ovalada */
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.3s ease;
}

.btn-favoritos:hover {
    background-color: var(--secundarioLuz2);
}

.icono-corazon {
    width: 43px;
    height: 43px;
}

.icono-corazon path {
    fill: var(--primario);
    transition: fill 0.3s ease;
}

.btn-favoritos:hover .icono-corazon path {
    fill: var(--primarioLuz2);
}

/* PERFIl  */

.btn-perfil {
    width: 40px;
    height: 40px;
    background-color: var(--secundarioLuz2);
    border-radius: 50%;
    border: 3px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all 0.3s ease;
}

.btn-perfil:hover {
    border-color: var(--primarioLuz2);
}

.icono-perfil {
    width: 28px;
    /* Ícono acorde al botón en celular */
    height: 28px;
}

.icono-perfil path {
    fill: var(--textoWhite);
    transition: fill 0.3s ease;
}

/* ======================================= */
/*   HERO BANNER  */
/* ======================================= */

/*  Usamos Grid para superponer la foto y el texto */
.hero-banner {
    width: 100%;
    background-color: var(--secundario);
    position: relative;
    /* Necesario para ubicar los botones absolutos */
}

/* La ventana que recorta lo que desborda */
.hero-viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* La vía del tren que se mueve */
.hero-track {
    display: flex;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.hero-track::-webkit-scrollbar {
    display: none;
}

/* El vagón individual (Slide) */
.hero-slide {
    flex: 0 0 100%;
    /* Cada uno ocupa el 100% del ancho */
    height: 100%;
    scroll-snap-align: center;
    /* Magnetismo al centrar */
    display: grid;
    /* Mantiene la lógica de superposición móvil */
}

/*  Obligamos a que la foto y el texto ocupen la misma celda de la grilla (capas) */
.hero-imagen,
.hero-contenido {
    grid-area: 1 / 1;
}

/*  La foto ocupa todo el espacio y le bajamos la opacidad para el contraste */
.hero-imagen img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
    opacity: 0.5;
}

.hero-contenido {
    align-self: end;
    padding: 20px 22px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 2;
}

.hero-contenido h1 {
    color: var(--textoWhite);
    margin: 0;
}

.hero-tags {
    color: var(--textoWhite);
    margin: 0;
}

/* 6. Ocultamos descripción y botones en celular */
.hero-descripcion,
.hero-botones {
    display: none;
}

/* ======================================= */
/*   CONTROLES CARRUSEL           */
/* ======================================= */
.btn-carrusel {
    display: none;
    /* Ocultos en celular, navegamos con swipe */
}

/* ======================================= */
/*   ETIQUETA PRO CARRUSEL        */
/* ======================================= */
.etiqueta-pro-carrusel {
    width: 115px;
    height: 52px;
    border-radius: 23px;
    background-color: var(--secundario);
    border: 1.5px solid var(--primarioLuz2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Separación entre el SVG y el texto */
}

.etiqueta-pro-carrusel h3 {
    color: var(--primario);
    margin: 0;
}

/* ======================================= */
/*   INDICADORES CARRUSEL       */
/* ======================================= */
.hero-indicadores {
    position: absolute;
    bottom: -23px;
    /* 12px de su propia altura + 11px de separación exacta del borde del banner */
    left: 50%;
    transform: translateX(-50%);
    /* Centrado horizontal perfecto */
    display: flex;
    gap: 12px;
    /* Separación entre puntitos */
    z-index: 5;
}

.punto {
    width: 12px;
    height: 12px;
    background-color: var(--primario);
    opacity: 50%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.punto.activo {
    background-color: var(--primario);
    opacity: 100%;
    width: 25px;
    border-radius: 12px;
}

/* ======================================= */
/*   REGLAS DE PC (DESKTOP)                */
/* ======================================= */
@media (min-width: 1024px) {

    /* Variables de tipografía para PC */
    :root {
        --fs-h1: 40px;
        --lh-h1: 48px;
        --fs-h2: 32px;
        --lh-h2: 40px;
        --fs-h3: 24px;
        --lh-h3: 32px;
        --fs-h4: 18px;
        --lh-h4: 24px;
    }

    /* ======================================= */
    /*         HEADER (VERSIÓN PC)             */
    /* ======================================= */

    /* Restauramos los tamaños para PC */
    header {
        height: 86px;
        padding: 0 22px;
    }

    .btn-hamburguesa svg {
        width: 2.5rem;
    }

    .btn-perfil {
        width: 71px;
        height: 68px;
        background-color: var(--secundarioLuz2);
    }

    .icono-perfil {
        width: 50px;
        height: 47px;
    }

    /* Le quitamos el absolute al logo para que vuelva a su caja a la izquierda */
    .logo {
        position: static;
        transform: none;
    }

    .logo-icono {
        display: block;
    }

    .logo-texto {
        height: auto;
        /* Vuelve a su tamaño normal en PC */
    }

    /* Hacemos que la parte izquierda sea flexible para absorber la falta de espacio */
    .header-izq {
        min-width: 0;
        /* Obliga al flexbox a permitir que se achique */
    }

    .buscador {
        display: flex;
        /* Permite que el buscador se achique */
        max-width: 334px;
        margin-left: 10px;
        min-width: 0;
    }


    /* 4. Mostramos los botones Favoritos y PRO (también con flex para centrar su contenido) */
    .btn-favoritos,
    .btn-pro {
        display: flex;
    }

    /* 5. Le devolvemos el tamaño grande y fondo al botón de perfil de PC */
    .btn-perfil {
        width: 71px;
        height: 68px;
        background-color: var(--secundarioLuz2);
    }

    .hero-banner {
        width: 100%;
        height: 520px;
        background-color: var(--secundario);
        margin-top: 40px;
        position: relative;
        /* Para los botones de carrusel */
    }

    .hero-slide {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    /* ======================================= */
    /*   CONTROLES CARRUSEL (PC)               */
    /* ======================================= */

    .btn-carrusel {
        display: flex;
        /* Vuelven a aparecer en PC */
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
        height: 53px;
        background-color: var(--primario);
        border: 2px solid transparent;
        border-radius: 22px;
        cursor: pointer;
        z-index: 5;
        /* Por encima de la foto y texto */
        transition: background-color 0.3s ease, opacity 0.3s ease;
    }

    .btn-carrusel:disabled {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
        /* Evita que el hover aplique */
    }

    .btn-carrusel:hover {
        background-color: var(--primarioSombra1);
        border: 2px solid var(--primario);
    }

    .btn-carrusel svg {
        width: 28px;
        height: auto;
    }

    .btn-carrusel path {
        fill: var(--textoBlack);
    }

    /* Modificadores de posición */
    .btn-carrusel--izq {
        left: 20px;
        /* Separación desde la izquierda */
    }

    .btn-carrusel--der {
        right: 20px;
        /* Separación desde la derecha */
    }

    /* Invertimos el SVG de la derecha para no cargar otro código */
    .btn-carrusel--der svg {
        transform: scaleX(-1);
    }

    .hero-imagen {
        height: 100%;
        position: relative;
        /* Necesario para poder poner el degradado flotando encima */
    }

    /* El rectángulo del degradado (350px x 520px) */
    .hero-imagen::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 100%;
        /* Degradado lineal de izquierda a derecha. 
       Arranca en color secundario sólido y se vuelve transparente */
        background: linear-gradient(to right, var(--secundario) 0%, transparent 100%);
        pointer-events: none;
        /* Para que no bloquee si alguna vez pones un click debajo */
    }

    .hero-imagen img {
        height: 100%;
        aspect-ratio: 16 / 9;
        /* Fuerza la proporción sin importar la imagen */
        object-fit: cover;
        /* Evita que la imagen se estire o deforme */
        opacity: 1;
        /* Restauramos opacidad al 100% en PC */
    }

    /* ================== */
    /* HERO CONTENIDO     */
    /* ================== */

    .hero-contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        padding-left: 107px;
        width: 50%;
        z-index: 1;
    }

    .hero-contenido h1 {
        color: var(--textoWhite);
        margin: 0 0 16px 0;
    }

    .hero-tags {
        color: var(--textoWhite);
        margin-bottom: 24px;
    }

    .hero-descripcion {
        display: block;
        color: var(--textoWhite);
        margin-top: 0;
        margin-bottom: 32px;
        max-width: 500px;
    }

    .hero-botones {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .btn-primario {
        width: 126px;
        height: 46px;
        background-color: var(--primario);
        color: var(--textoBlack);
        border: 2px solid transparent;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        /* Hace que el cambio de color sea suave y elegante */
    }

    .btn-primario:hover {
        border: 2px solid var(--primarioLuz2);
        background-color: var(--primarioSombra2);
    }

    .btn-fav-hero {
        width: 65px;
        height: 53px;
        background-color: var(--secundarioSombra1);
        border: 2px solid var(--textoWhite);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: all 0.3s ease;
        /* Transición suave */
    }

    .btn-fav-hero:hover {
        background-color: var(--secundarioLuz2);
        border: 2px solid var(--primarioLuz2);
    }

    .btn-fav-hero svg {
        width: 100%;
        height: 100%;
    }

    .btn-fav-hero path {
        fill: var(--textoWhite);
    }

    /* ================================= */
    /* ESTADO ACTIVADO DEL BOTÓN FAVORITO*/
    /* ================================= */

    .btn-fav-hero.activo {
        border: 2px solid var(--primario);
        /* Borde primario */
    }

    .btn-fav-hero.activo path {
        fill: var(--primario);
        /* Corazón primario */
    }

    /* El hover cuando está activado (toma el fondo secundario luz 2 
   y el borde primario luz 2, igual que el inactivo) */
    .btn-fav-hero.activo:hover {
        background-color: var(--secundarioLuz2);
        border: 2px solid var(--primarioLuz2);
    }
}